<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Jorge Infantes</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark" >
    <a class="navbar-brand" style="color: white;">Header</a>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9" style="background-color: gray;"><h3>articulo</h3> <br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, adipisci?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, qui totam. Consequatur quibusdam animi cumque. Beatae magni necessitatibus doloribus asperiores, sequi neque id totam harum deserunt. Voluptatum quia voluptatem nisi?
        Quasi impedit sapiente sed, ratione nobis quas facilis, nisi at voluptatum, enim rerum dicta molestiae recusandae nemo illo eos ipsum numquam provident alias excepturi earum suscipit. Nulla distinctio debitis commodi!
        Velit eum ipsa a rem quasi. Reprehenderit quis eaque hic, at dicta, provident architecto perferendis officia fuga autem qui, minus ea error ullam molestias natus dolorem mollitia dolore in veritatis?
        Minus est deserunt distinctio quam unde natus laudantium voluptas voluptatum, quas dolorum, qui molestiae delectus assumenda labore voluptates, modi id soluta deleniti accusamus. Sed asperiores neque ipsa, dolorem error sequi?
        Fugit aut unde min accusantium porro similique pariatur minus tempora fugiat qui iure voluptatum eaque cum dolores optio facere animi labore voluptatibus sapiente eos. Accusamus, placeat!
        Obcaecati sunt praesentium minus fuga! Iusto dolor pos</div>
      <div class="d-none d-lg-block d-md-none col-lg-3" style="background-color: red; color: white;"><h3>aside</h3> <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt numquam soluta praesentium, culpa commodi animi ut esse quos accusantium nihil illo, architecto excepturi minima hic quibusdam voluptatum molestiae similique i</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="background-color: blue; color: white;"><h3>Columna1</h3><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum exercitationem, earum vero illo nobis totam repudiandae ipsa perspiciatis quis corporis maxime itaque eligendi! Repellendus, vel id. Quam totam ea qui!</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3"><h3>Columna2</h3><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis molestiae mollitia suscipit, labore dolorum atque ut explicabo aliquam quod in fuga magnam accusamus dolore tenetur voluptatem vero. Ea, perspiciatis rem.</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="background-color: blue; color: white;"><h3>Columna3</h3><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque optio, reiciendis facilis iste iusto nemo libero aliquid voluptas nihil minima fugit nesciunt error, omnis distinctio consequatur nulla. Ut, pariatur aperiam.</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3"><h3>Columna4</h3><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, quam reprehenderit voluptas ab error vitae id? Debitis, suscipit laboriosam voluptatem optio ad sed nostrum, fugiat illo est modi accusantium a.</div>
    </div>
</div>

</body>
</html>
